/*========================================================
        DARK LAYOUT
=========================================================*/
#dashboard-analytics .img-left {
  width : 200px;
  position : absolute;
  top : 0;
  left : 0;
}

#dashboard-analytics .img-right {
  width : 175px;
  position : absolute;
  top : 0;
  right : 0;
}

#dashboard-analytics .bg-analytics {
  background : -webkit-linear-gradient(332deg, #ffffff, rgba(255, 255, 255, 1));
  background :         linear-gradient(118deg, #ffffff, rgba(255, 255, 255, 1));
  color: #000000 !important;
}

#dashboard-analytics .bg-analytics .text-white{
  color: #000000 !important;
  font-size: 25px;
}

#dashboard-analytics .bg-analytics .avatar {
  margin-bottom : 2rem;
}

#dashboard-analytics table tr th:first-child, #dashboard-analytics table tr td:first-child {
  padding-left : 2rem;
}

#dashboard-analytics table tr th:last-child, #dashboard-analytics table tr td:last-child {
  padding-right : 2rem;
}

#dashboard-analytics table td {
  padding : 0.75rem;white-space: nowrap;
}

@media (max-width:1199px) {
  #dashboard-analytics .row{margin: 0 !important;}
  #dashboard-analytics .col-sm-12,#dashboard-analytics .col-12{padding: 0 !important;}
}


@media only screen and (max-width: 576px) {
  #dashboard-analytics .img-left, #dashboard-analytics .img-right {
    width : 140px;
  }
}